<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-searchbar (ionInput)="search($event)" mode="ios"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">


 <ion-item *ngFor="let user of resultArr">
   <ion-avatar>
     <ion-text>{{ user.displayName }}</ion-text>
   </ion-avatar>
   <ion-label>
     <ion-note style="font-weight: bold;">
    {{ user.name }}
  </ion-note>
   </ion-label>
   </ion-item>

</ion-content>