<ion-header>
  <ion-toolbar color="brown">
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
    <ion-title class="ion-text-center">
      FAQ<ion-icon name="help"></ion-icon>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div id="faq">
    <ul>
      <li style="border-radius: 20px;">
        <input type="checkbox" checked>
        <i></i>
        <h2>What does Majid Barbershop provide to customers?</h2>
        <p> It provide haircut for adult, haircut for kids and shaving</p>
      </li>
      <li style="border-radius: 20px;">
        <input type="checkbox" checked>
        <i></i>
        <h2>How to book an appointment?</h2>
        <p>You can tap the button book an appointment on the side menu and fill in the form. </p>
      </li>
      <li style="border-radius: 20px;">
        <input type="checkbox" checked>
        <i></i>
        <h2>How to know the appointment I have booked?</h2>
        <p>You can tap the track appointment page from sidemenu and see the ongoing appointment at the top of the list</p>
      </li>
      <li style="border-radius: 20px;">
        <input type="checkbox" checked>
        <i></i>
        <h2>Can i cancel the appointment?</h2>
        <p>Yes, you may cancel the appointment by tapping the cancel button at the track appointment page</p>
      </li>
      <li style="border-radius: 20px;">
        <input type="checkbox" checked>
        <i></i>
        <h2>What is the payment method provided?</h2>
        <p>The payment method that is provided for this barbershop is only cash.</p>
      </li>
    </ul>
  </div>
</ion-content>