ion-header {
    ion-toolbar {
      --background: rgba(0,0,0,0);
    }
  
    .titles {
      position: relative;
      padding: 0 1.2rem;
      h4, h6 {
        margin: 0;
        margin-bottom: 4px;
        color: #ffffff;
        ion-icon {
          vertical-align: middle;
        }
      }
      h4 {
        font-weight: 900;
        font-size: 26px;
      }
      h6 {
        font-weight: 600;
      }
    }
  
    img {
      position: absolute;
      top: -110px;
    }
  }

  
  ion-content {
  
    --background: linear-gradient(315deg, #a44200 0%, #f2c17d 74%);
  }
  
    ion-button {
      transform: scale(.8, .8);
      --box-shadow: none;
          --border-radius: 12px;
    }
    
  
  .slides {
    background: linear-gradient(315deg, #ca7968 0%, #0c0c0c 74%);

    padding: 4px 10px 20px 10px;
    border-radius: 0 0 28px 28px;
  }

  ion-content {
    width: calc(106% + 15px);
    
  }
  ion-content::part(scroll) {
    padding-right: 15px;
  }